<%= form_with(model: architecture, local: true) do |form| %>
  <% if architecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(architecture.errors.count, "error") %> prohibited this architecture from being saved:</h2>

      <ul>
      <% architecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
