<p id="notice"><%= notice %></p>

<h1 class="titre">Musée d'expositions photographiques</h1>
<p class="pres">Ce musée met en avant mon travail photographique à travers différentes expositions ayant différents thèmes</p>
<h2 class="soustitre">2 expositions sont actuellement disponibles</h2>

<div class="buthold"><a href="/rarchitectures"><button class="btna">Architecture</button></a></div>

<h2 class="soustitre">OU</h2>
<div class="buthold"><a href="/rblackandwhites"><button class="btna">Noir et Blanc</button></a></div>
